footer{
    background-color: #121640;
}

.lista-footer{
    text-align: center;
}
.item-listafooter{
    display: inline-block;
    margin: 20px 1.5%;
    width: 30%;
    vertical-align: top;
    color: white;
    
}

.lista-pagamentos, .lista-contatofooter{
    margin-top: 50px ;
}

.lista-pagamentos h3{
    padding: 20px 0;
    font-weight: bold;

    
}
.lista-contatofooter h3{
    padding: 20px 0;
    font-weight: bold;
}

.lista-pagamentos img{
    background-color: white;
    width: 10%;
    margin: 10px 5px;
}

